[Unit]
Description=FGC console system service
After=NetworkManager.service
Before=lightdm.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/fgc/system.py
Restart=on-failure
RuntimeDirectory=fgc
RuntimeDirectoryMode=0755
UMask=0077
ProtectHome=read-only
ReadWritePaths=/home/fgc /run /var /etc /opt /boot /mnt
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
